apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  valuesContent: |-
    additionalArguments:
      - "--providers.kubernetesingress.ingressendpoint.publishedservice=kube-system/traefik"

